<p>Welcome to reactive Forms </p>
<form>
     <div>
        <label>firstName</label>
        <input >
     </div>
     <div>
        <label>lastname</label>
        <input >
     </div>
     <div>
        <label>username</label>
        <input >
     </div>
     <div>
        <label>email</label>
        <input >
     </div>
     <div>
        <label>phone</label>
        <input >
     </div>
     <div>
        <label>country</label>
        <select>
            <option >India</option>
            <option >USA</option>
            <option >Russia"></option>
            <option> China</option>
        </select>
     </div>





</form>